{% extends 'base_en.html' %}

{% block title %}Hani Tattoo Hurghada{% endblock %}
{% load static %}
{% block content %}

<!-- Swiper-->
<section class="section swiper-container swiper-slider swiper-slider-1 slider-scale-effect bg-primary" data-loop="false" data-autoplay="5500" data-simulate-touch="false" data-slide-effect="fade">
  <div class="swiper-wrapper">
    {% for slider in sliders %}
    <div class="swiper-slide slide-bg-1">
      <div class="slide-bg" style="background-image: url('{{ slider.image.url }}')"></div>
      <div class="swiper-slide-caption section-md">
        <div class="container">
          <div class="row">
            <div class="col-sm-10 col-lg-9 col-xl-8">
              <h1 data-caption-animate="fadeInUp" data-caption-delay="100"><span>{{ slider.title }}</span><span class="title-big">{{ slider.slogan }}</span></h1>
              <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="250">{{ slider.description }}</p>
              {% if slider.show_button %}
              <a class="button button-primary" href="#" data-caption-animate="fadeInUp" data-caption-delay="450">{{ slider.button_text }}</a>
              {% endif %}
              
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Swiper Pagination -->
  <div class="swiper-pagination"></div>
  <div class="swiper-counter"></div>
  <!-- Swiper Navigation-->
  <div class="swiper-button-prev">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="30px" viewbox="0 0 17 30" enable-background="new 0 0 17 30" xml:space="preserve">
      <g>
        <defs>
          <rect id="SVGID_111_" width="17" height="30"></rect>
        </defs>
        <clippath id="SVGID_2222_">
          <use xlink:href="#SVGID_111_" overflow="visible"></use>
        </clippath>
        <line clip-path="url(#SVGID_2222_)" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="8.5" y1="0.833" x2="8.5" y2="29.167"></line>
        <polyline clip-path="url(#SVGID_2222_)" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="									    16.15,20.833 8.5,29.167 0.85,20.833 	"></polyline>
      </g>
    </svg>
  </div>
  <div class="swiper-button-next">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="30px" viewbox="0 0 17 30" enable-background="new 0 0 17 30" xml:space="preserve">
      <g>
        <defs>
          <rect id="SVGID_1_" width="17" height="30"></rect>
        </defs>
        <clippath id="SVGID_2_">
          <use xlink:href="#SVGID_1_" overflow="visible"></use>
        </clippath>
        <line clip-path="url(#SVGID_2_)" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="8.5" y1="29.167" x2="8.5" y2="0.833"></line>
        <polyline clip-path="url(#SVGID_2_)" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="									    0.85,9.167 8.5,0.833 16.15,9.167 	"></polyline>
      </g>
    </svg>
  </div>
</section>
<section class="section section-xl bg-image bg-mask about-sec" style="background-image:url({{ few_words.image.url }});">
  <div class="container">
    <div class="row justify-content-md-end">
      <div class="col-lg-6 col-xl-5">
        <h2>{{ few_words.title }}</h2>
        <p class="big text-gray-800">{{ few_words.section_a }}</p>
        <p class="text-spacing-60">{{ few_words.section_b }}</p><a class="button button-primary" href="#">learn more</a>
      </div>
    </div>
  </div>
</section>
<section class="section section-lg bg-default text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-7">
        <h2>Our Services</h2>
        <p>We provide a wide variety of tattooing services to both regular and new clients. At Hani Moriss, you can expect first-class treatment as well as 100% safe and sterile environment & equipment.</p>
      </div>
    </div>
    <div class="row icon-modern-list no-gutters">
      {% for service in services %}
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-modern modern-variant-2">
          <div class="icon-modern"><img src="{{ service.image.url }}" alt="" width="80" height="80"/>
          </div>
          <h4 class="box-icon-modern-title"><a href="#">{{ service.title }}</a></h4>
          <p>{{ service.description }}</p>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="section section-lg bg-primary text-center text-lg-left">
  <div class="container">
    <div class="row row-50 justify-content-center justify-content-lg-between">
      <div class="col-md-10 col-lg-6">
        <h2>Our art showcase</h2>
        <p class="big">{{ art_showcase.section_a }}</p>
        <p class="our-p">{{ art_showcase.section_b }}</p>
        <a class="button-link button-link-icon our-a" href="/gallery">See All Works<span class="icon fa-arrow-right "></span></a>
      </div>
      <div class="col-lg-6">
        <!-- Owl Carousel-->
        <div class="block-sm">
          <div class="owl-carousel carousel-modern" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="0" data-mouse-drag="false" data-autoplay="true">
            {% for image in showcase_images %}
            <img src="{{ image.image.url }}" alt="" width="549" height="422"/>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-lg bg-default text-center">
  <div class="container">
    <h2>Our amazing artists</h2>
    <p class="block-lg">Hani Moris has a team of talented and highly creative artists whose main goal is not just to keep you satisfied but also impress you with a unique art that will help you stand out from the crowd. The experience and unmatched skills of our tattooists are reasons of our salon’s success.</p>
  </div>
  <div class="container">
    <div class="row row-20">
      <div class="col-12">
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-carousel-center" data-items="1" data-md-items="3" data-xl-items="3" data-dots="false" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="0" data-mouse-drag="false" data-center="true" data-autoplay="false">
          {% for artist in artists %}
          <div class="team-minimal">
            <figure><img src="{{ artist.image.url }}" alt="" width="370" height="370"></figure>
            <div class="team-minimal-caption">
              <h4 class="team-title">{{ artist.name }}</h4>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12"><a class="button button-primary" href="#">View all team</a></div>
    </div>
  </div>
</section>
<section class="section section-lg bg-gray-100">
  <div class="container">
    <div class="row row-50">
      <div class="col-lg-6">
        <div class="row row-50 row-lg-70">
          <div class="col-md-6 col-lg-12">
            <h2>Our advantages</h2>
            <p class="big text-gray-800">{{ advantages.title }}</p>
            <p>{{ advantages.section_a }}</p>
          </div>
          <div class="col-md-6 col-lg-12">
            <div class="quote-with-image">
              <figure class="quote-img"><img src="{{ advantages.image_b.url }}" alt="" width="534" height="406"/>
              </figure>
              <div class="quote-caption">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="88.34px" height="65.34px" viewBox="0 0 88.34 65.34" enable-background="new 0 0 88.34 65.34" overflow="scroll" xml:space="preserve" preserveAspectRatio="none">
                  <path d="M49.394,65.34v-4.131c12.318-7.088,19.924-16.074,22.811-26.965c-3.125,2.032-5.968,3.051-8.526,3.051																	c-4.265,0-7.864-1.721-10.803-5.168c-2.937-3.444-4.407-7.654-4.407-12.64c0-5.511,1.932-10.142,5.791-13.878																	C58.123,1.873,62.873,0,68.51,0c5.639,0,10.354,2.379,14.143,7.137c3.793,4.757,5.688,10.678,5.688,17.758																	c0,9.977-3.814,18.912-11.443,26.818C69.268,59.613,60.101,64.156,49.394,65.34z M0.923,65.34v-4.131																	c12.321-7.088,19.926-16.074,22.813-26.965c-3.126,2.032-5.993,3.051-8.598,3.051c-4.219,0-7.794-1.721-10.734-5.168																	C1.467,28.683,0,24.473,0,19.487C0,13.976,1.919,9.346,5.757,5.609C9.595,1.873,14.334,0,19.971,0																	c5.685,0,10.41,2.379,14.178,7.137c3.767,4.757,5.652,10.678,5.652,17.758c0,9.977-3.805,18.912-11.409,26.818																	C20.787,59.613,11.632,64.156,0.923,65.34z"></path>
                </svg>
                <h3 class="quote-text text-right">{{ advantages.quotation }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row row-50 row-lg-70">
          <div class="col-md-6 col-lg-12">
            <figure class="block-image"><img src="{{ advantages.image_a.url }}" alt="" width="541" height="369"/>
            </figure>
            <p>Every artist at Hani Moriss understands that safety always comes first. That’s why the team of our salon uses only the best tattoing equipment and consumables. Moreover, we guarantee 100% sterility and complete medical care in each and after each procedure. Tattoo artists at our salon will make every effort to provide you with a painless experience.</p>
          </div>
          <div class="col-md-6 col-lg-12">
            <figure class="block-image"><img src="{{ advantages.image_c.url }}" alt="" width="541" height="369"/>
            </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-lg bg-default text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-9">
        <h2>Portfolio</h2>
        <p>Our salon provides tattoos of various complexity. From simple to highly creative artworks, we gather all our achievements in the portfolio. Feel free to take a look at the gallery below to discover our best works.</p>
      </div>
    </div>
    <div class="row row-30">
      <!-- Isotope Filters-->
      <div class="col-lg-12">
        <div class="isotope-filters isotope-filters-horizontal">
          <button class="isotope-filters-toggle button button-sm button-primary" data-custom-toggle="#isotope-filters" data-custom-toggle-disable-on-blur="true">Filter<span class="caret"></span></button>
          <ul class="isotope-filters-list" id="isotope-filters">
            <li><a class="port-a active" data-isotope-filter="*" data-isotope-group="gallery" href="#">All</a></li>
            {% for category in categories %}
            <li><a class="port-a" data-isotope-filter="{{ category.id }}" data-isotope-group="gallery" href="#">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- Isotope Content-->
      <div class="col-lg-12">
        <div class="isotope row" data-isotope-layout="masonry" data-isotope-group="gallery" data-lightgallery="group" data-column-class=".col-sm-6.col-md-6.col-lg-3">
          {% for image in gallery %}
          {% if not forloop.first %}
          <div class="col-sm-6 col-md-6 col-lg-3 isotope-item" data-filter="{{ image.category.id}}"><a class="gallery-item" data-lightgallery="item" href="{{ image.image.url}}"><img src="{{ image.image.url}}" alt="" lazy width="570" height="570"/><span class="gallery-item-title">{{ image.category.name }}</span><span class="gallery-item-button"></span></a>
          </div>
          {% else %}
          <div class="col-sm-6 isotope-item" data-filter="{{ image.category.id }}"><a class="gallery-item" data-lightgallery="item" href="{{ image.image.url}}"><img src="{{ image.image.url}}" lazy alt="" width="570" height="570"/><span class="gallery-item-title">{{ image.category.name }}</span><span class="gallery-item-button"></span></a>
          </div>
          {% endif %}
          {% endfor%}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12"><a class="button button-primary" href="/gallery">View all</a></div>
    </div>
  </div>
</section>
<section class="section section-lg bg-primary text-center" id="appointment">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-9">
        <h2>Make an Appointment</h2>
        <p class="text-contrast">The best way to enjoy a treatment at our studio is to book an appointment with the desired tattoo artist. Fill in the form below and we will contact you to discuss your appointment.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-8">
        <!-- RD Mailform-->
        <form id="appointment-form" class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="contact" method="post">
          <div class="row row-20 justify-content-center">
            <div class="col-lg-6">
              <div class="form-wrap">
                <label class="form-label" for="contact-name">Your Name</label>
                <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-wrap">
                <label class="form-label" for="contact-email">Your E-mail</label>
                <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-wrap">
                <label class="form-label" for="contact-phone">Your Phone</label>
                <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Numeric @Required">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-wrap">
                <!--Select 2-->
                <select id="service-select" class="form-input select-filter" data-placeholder="Select a service.." data-minimum-results-for-search="Infinity" data-minimum-results-search="-1" data-constraints="@Required">
                  <option label="1"></option>
                  <option value="Tattooing">Tattooing</option>
                  <option value="Piercing">Piercing</option>
                  <option value="Tattoo cover up">Tattoo cover up</option>
                  <option value="Tattoo design">Tattoo design</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-wrap">
                <label class="form-label" for="date">Date</label>
                <input class="form-input" id="date" type="text" name="date" data-time-picker="date" data-constraints="@Required">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-wrap">
                <select id="artist-select" class="form-input select-filter" data-placeholder="Select an artist..." data-minimum-results-for-search="Infinity" data-minimum-results-search="-1" data-constraints="@Required">
                  <option label="1"></option>
                  {% for artist in artists %}
                  <option value="{{ artist.name}}">{{ artist.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-wrap">
                <label class="form-label" for="contact-message">Your comment</label>
                <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
              </div>
            </div>
          </div>
          <div class="form-button group-sm text-center">
            <button class="button button-primary" type="submit">make an appointment now
              <div class="spinner-border spinner-border-md hidden" role="status" id="appointment-spinner">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="section section-lg bg-default">
  <div class="container">
    <div class="row row-50">
      <div class="col-lg-6">
        <div class="block-xs"> 
          <h2>Testimonials of Our Clients</h2>
          <p class="big text-gray-800">Thanks to our clients’ regular reviews, testimonials, and comments, we are able to improve our studio.</p>
          <p>Unlike other studios, we prefer to maintain a constant connection with our customers and receive feedback on every service, whether it’s a simple tattoo or a permanent makeup service. If you’ve already visited Hani Moriss, feel free to contact us and send your testimonial.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- Owl Carousel-->
        <div class="owl-carousel carousel-corporate" data-items="1" data-dots="true" data-nav="false" data-stage-padding="10px" data-loop="true" data-autoplay="true" data-margin="25px" data-mouse-drag="false">
          <div class="quote-corporate">
            <div class="quote-header">
              <h4>Amanda Smith</h4>
              <p class="big mt-1">Client</p>
            </div>
            <div class="quote-body">
              <div class="quote-text">
                <p>I visited Hani Moriss about a month ago to get a tattoo. The salon has a very laid-back atmosphere while also staying very professional. Everyone was very nice and welcoming. James is not just an awesome artist, but a pretty cool guy to hang out with while getting tattooed.</p>
              </div>
              <svg class="quote-body-mark" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="66px" height="49px" viewbox="0 0 66 49" enable-background="new 0 0 66 49" xml:space="preserve">
                <g></g>
                <path d="M36.903,49v-3.098c9.203-5.315,14.885-12.055,17.042-20.222c-2.335,1.524-4.459,2.288-6.37,2.288						c-3.186,0-5.875-1.29-8.071-3.876c-2.194-2.583-3.293-5.74-3.293-9.479c0-4.133,1.443-7.605,4.327-10.407						C43.425,1.405,46.973,0,51.185,0c4.213,0,7.735,1.784,10.566,5.352C64.585,8.919,66,13.359,66,18.669						c0,7.482-2.85,14.183-8.549,20.112C51.751,44.706,44.902,48.112,36.903,49z M0.69,49v-3.098						c9.205-5.315,14.887-12.055,17.044-20.222c-2.335,1.524-4.478,2.288-6.423,2.288c-3.152,0-5.823-1.29-8.02-3.876						C1.096,21.51,0,18.353,0,14.614c0-4.133,1.434-7.605,4.301-10.407C7.168,1.405,10.709,0,14.92,0c4.247,0,7.778,1.784,10.592,5.352						c2.814,3.567,4.223,8.007,4.223,13.317c0,7.482-2.843,14.183-8.524,20.112C15.53,44.706,8.69,48.112,0.69,49z"></path>
              </svg>
            </div>
            <div class="quote-image"><img src="{% static 'images/home-1-10-90x90.jpg' %}" alt="" width="90" height="90"/>
            </div>
          </div>
          <div class="quote-corporate">
            <div class="quote-header">
              <h4>Michael Wood</h4>
              <p class="big mt-1">Client</p>
            </div>
            <div class="quote-body">
              <div class="quote-text">
                <p>If there is a place in my city where I would like to be tattooed next time, it is your tattoo studio. You guys are doing amazing job spreading the quality tattoos in the area, and I really like what you do! I will definitely tell my friends about your studio and your artists!</p>
              </div>
              <svg class="quote-body-mark" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="66px" height="49px" viewbox="0 0 66 49" enable-background="new 0 0 66 49" xml:space="preserve">
                <g></g>
                <path d="M36.903,49v-3.098c9.203-5.315,14.885-12.055,17.042-20.222c-2.335,1.524-4.459,2.288-6.37,2.288						c-3.186,0-5.875-1.29-8.071-3.876c-2.194-2.583-3.293-5.74-3.293-9.479c0-4.133,1.443-7.605,4.327-10.407						C43.425,1.405,46.973,0,51.185,0c4.213,0,7.735,1.784,10.566,5.352C64.585,8.919,66,13.359,66,18.669						c0,7.482-2.85,14.183-8.549,20.112C51.751,44.706,44.902,48.112,36.903,49z M0.69,49v-3.098						c9.205-5.315,14.887-12.055,17.044-20.222c-2.335,1.524-4.478,2.288-6.423,2.288c-3.152,0-5.823-1.29-8.02-3.876						C1.096,21.51,0,18.353,0,14.614c0-4.133,1.434-7.605,4.301-10.407C7.168,1.405,10.709,0,14.92,0c4.247,0,7.778,1.784,10.592,5.352						c2.814,3.567,4.223,8.007,4.223,13.317c0,7.482-2.843,14.183-8.524,20.112C15.53,44.706,8.69,48.112,0.69,49z"></path>
              </svg>
            </div>
            <div class="quote-image"><img src="{% static 'images/home-1-11-90x90.jpg' %}" alt="" width="90" height="90"/>
            </div>
          </div>
          <div class="quote-corporate">
            <div class="quote-header">
              <h4>Eva Garcia</h4>
              <p class="big mt-1">Client</p>
            </div>
            <div class="quote-body">
              <div class="quote-text">
                <p>Hani Moriss  is a place where you can get a high-quality tattoo, and even order a custom design based on your wishes and expectations. This is exactly what I received during my first visit to the salon, and I will certainly come here again to have another tattoo done.</p>
              </div>
              <svg class="quote-body-mark" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="66px" height="49px" viewbox="0 0 66 49" enable-background="new 0 0 66 49" xml:space="preserve">
                <g></g>
                <path d="M36.903,49v-3.098c9.203-5.315,14.885-12.055,17.042-20.222c-2.335,1.524-4.459,2.288-6.37,2.288						c-3.186,0-5.875-1.29-8.071-3.876c-2.194-2.583-3.293-5.74-3.293-9.479c0-4.133,1.443-7.605,4.327-10.407						C43.425,1.405,46.973,0,51.185,0c4.213,0,7.735,1.784,10.566,5.352C64.585,8.919,66,13.359,66,18.669						c0,7.482-2.85,14.183-8.549,20.112C51.751,44.706,44.902,48.112,36.903,49z M0.69,49v-3.098						c9.205-5.315,14.887-12.055,17.044-20.222c-2.335,1.524-4.478,2.288-6.423,2.288c-3.152,0-5.823-1.29-8.02-3.876						C1.096,21.51,0,18.353,0,14.614c0-4.133,1.434-7.605,4.301-10.407C7.168,1.405,10.709,0,14.92,0c4.247,0,7.778,1.784,10.592,5.352						c2.814,3.567,4.223,8.007,4.223,13.317c0,7.482-2.843,14.183-8.524,20.112C15.53,44.706,8.69,48.112,0.69,49z"></path>
              </svg>
            </div>
            <div class="quote-image"><img src="{% static 'images/home-1-12-90x90.jpg' %}" alt="" width="90" height="90"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
<div class="row">
  {% for fact in facts %}
  <div class="col-md-4">
    <div class="widget">
      <div class="state-info">                    
        <h4>{{ fact.title }}</h4>
        <span class="Single">{{ fact.number }}</span><span style="font-size: 50px;">{{ fact.suffix|default:"" }}</span>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</section>


<section class="section section-md bg-primary text-center">
  <div class="container"> 
    <div class="row justify-content-md-center row-30 row-lg-40">
      <div class="col-md-9 col-lg-8">
        <h2>Subscribe to the Newsletter</h2>
        <p class="big">Be the first to know about our promotions and discounts!</p>
      </div>
      <div class="col-md-9 col-lg-6">
        <!-- RD Mailform-->
        <form id="subscribe-form" class="rd-form rd-mailform rd-form-inline" data-form-output="form-output-global" data-form-type="subscribe" method="post">
          <div class="form-wrap">
            <input class="form-input" id="subscribe-form-0-email" type="email" name="email" data-constraints="@Email @Required"/>
            <label class="form-label" for="subscribe-form-0-email">Your E-mail</label>
          </div>
          <div class="form-button">
            <button class="button button-primary" type="submit">Subscribe
              <div class="spinner-border spinner-border-md hidden" role="status" id="subscribe-spinner">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/form-subscribe.js' %}" ></script>
<script src="{% static 'js/form-appointment.js' %}" ></script>

{% endblock %}